body {
  font-family: "microsoft yahei";
}
.main-bg .navbar-header i .icon {
  text-align: center;
}
.container-fluid {
  margin: 0;
  padding: 0;
  background: #ebebeb;
}
.container-fluid .navbar {
  background: #fff;
}
.container-fluid .first {
  border-bottom: 1px solid #e67e22;
}
.container-fluid .nav {
  text-align: center;
}
.container-fluid .nav li {
  display: inline-block;
}
.container-fluid .nav li a {
  color: #505050;
}
@media (max-width: 768px) {
  .container-fluid .nav li {
    display: block;
    text-align: left;
  }
}
@media (min-width: 767px) {
  .container-fluid i {
    display: none;
  }
}
.container-fluid .body-bg {
  background: #fff;
  position: relative;
}
.container-fluid .body-bg h1 {
  font-size: 28px;
  text-align: center;
}
.container-fluid .body-bg h6 {
  font-size: 10px;
  text-align: center;
  color: #959595;
}
.container-fluid .body-bg h6 span {
  color: #e67e22;
}
.container-fluid .body-bg .img1 {
  padding: 30px 0;
}
.container-fluid .body-bg p {
  line-height: 30px;
}
.container-fluid .body-bg .button2 {
  margin-top: 36px;
  border-radius: 0;
}
.container-fluid .body-bg .dixian {
  height: 26px;
  border-bottom: 1px solid #ebebeb;
}
.container-fluid .body-bg .file {
  margin-top: 26px;
  display: block;
}
.container-fluid .body-bg .dingwei {
  position: absolute;
  right: 0;
  top: 0;
}
.container-fluid .body-bg .p1 {
  color: #959595;
  margin-top: 25px;
  font-size: 10px;
  background: url(../img/A_lg_07.png) no-repeat left center;
  padding-left: 24px;
}
.container-fluid .btu {
  text-align: center;
}
.container-fluid .btu .a1 {
  width: 128px;
  display: inline-block;
  padding: 12px 14px;
  background: #e67e22;
  color: #fff;
  text-align: center;
}
.container-fluid .btu .a2 {
  width: 36px;
  display: inline-block;
  padding: 12px 14px;
  background: #e67e22;
  color: #fff;
  margin-left: 8px;
  text-align: center;
}
.blank26 {
  height: 26px;
}
.blank36 {
  height: 36px;
}
.navbar-default {
  text-align: center;
}
.body-bg h3 {
  height: 38px;
  border-bottom: 1px solid #ebebeb;
}
.body-bg h3 span {
  width: 90px;
  height: 38px;
  display: block;
  border-bottom: 1px solid #e67e22;
}
.body-bg h3.h3-two span {
  width: 106px;
  font-size: 18px;
}
.body-bg .p2 {
  margin-top: 25px;
  color: #505050;
  font-size: 10px;
  margin-left: 36px;
}
.body-bg ul {
  list-style: none;
}
.body-bg ul li {
  line-height: 34px ;
  background: url(../img/lg__03.png) no-repeat left center;
  padding-left: 25px;
}
.body-bg ul li a {
  color: #e67e22;
}
.body-bg ul li.two {
  background: url(../img/lg__06.png) no-repeat left center;
}
